fastapi
uvicorn
httpx
redis
psycopg2-binary
pydantic
python-dotenv
pgvector
langchain-google-genai
langchain-core
langchain-community
langchain-text-splitters
svix
python-jose[cryptography]
requests
slowapi
clerk-backend-api
fastapi-cache2[redis]
pypdf
certifi
numpy
pybind11
wheel
gunicorn
uvicorn
Jinja2
python-multipart
polar-sdk
pdf2image